#keyboard {
  width:400px;
}
#keyboard button {
  font-weight: bold;
  font-size: large;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 45px;
  height: 46px;
  background-color: white;
}

#keyboard button.used {
  background-color: #282c34;
  color: brown;
}