#keyboard {
  width:500px;
}
#keyboard button {
  font-weight: bold;
  font-size: large;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 45px;
  height: 46px;
}

#keyboard button.used {
  opacity: 0.5;
}